version: 1

deploy:
  steps:
    setupVariables:
      after: &login-k8s
        - mkdir -p ~/.kube
        - aws eks update-kubeconfig --name $CLUSTER_NAME --region us-west-2  
        - kubectl config set-context --current --namespace=$NAMESPACE
    k8sDiff:
      after: 
        - ls -la 
        - cat metadatLabelTransformer.yaml
        - cat kustomization.yaml
        - cat secret.yaml
destroy:
  steps:
    setupVariables:
      after: *login-k8s
